*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}
.background{
    width: 100%;
    height: 100%;
    /* background-image: url(black.jpg); */
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
.header{
    background:rgb(15, 1, 15);
    /* background:rgba(253, 252, 252, 0); */
    height: 80px;
    width: 100%;
    top: 0%;
    position: fixed;
    transition: 0.3s;
    z-index: 12;
}
label.logo{
    color:white;
    font-size:45px;
    font-style: Bauhaus 93;
    text-align: auto;
    line-height: 90px;
    padding: 0 100px;
    font-weight: bold;
}
.header ul{
    float: right;
    margin-right: 20px;
}
.header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.header ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #1b9bff;
    transition: 300ms;
    color:black;
    width: 100%;
}
.content{
    position: absolute;
    width: 900px;
    min-height: 200px;
    height: auto;
    text-align: center;
    right: 850;
    left: 200;
    top: 35%;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 950px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);   
}
.wrapper .left{
    width: 35%;
    background: linear-gradient(to right, #222831, #222831);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}
.wrapper .left img{
    margin-bottom: 15px;
    border-radius: 15px;
}
.wrapper .left h4{
    margin-bottom: 10px;
    font-size: 30px;
}
.wrapper .left p{
    font-size: 30px;
}
.wrapper .right{
    width: 65%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px 25px;
    font-size: large;
    /* font-weight: bolder; */
}

.wrapper .right .info,
.wrapper .right .Hobbies{
    margin-bottom: 25px;
}
.wrapper .right .info h3,
.wrapper .right .Hobbies h3{
    margin-bottom: 15;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: x-large;
    font-weight: bolder;
}
.wrapper .right .info_data .data p,
.wrapper .right .Hobbies_data .data p{
    font-size: large;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    /* color: #919; */
    color: black;
   
}
.wrapper .right .info_data,
.wrapper .right .Hobbies_data{
    display: flex;   
    justify-content: space-between;
    
}
.wrapper .right .info_data .data,
.wrapper .right .Hobbies_data .data{
    width: 80;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

/* Footer */
.main-footer {
    position:fixed;
    background-color: rgb(14, 14, 14);
    color:#f2f2f2;
    text-align:end;  
    padding: 5px;
    padding-bottom:7px 13px;
    width: 100%;
    height: 80px;
    bottom: 0;   
  }
  .sub-footer {
    padding: 5px;
    height:16%;  
  }
  .sub-footer img {
    width:30px;
    height:35px;
  }

