*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
.header{
    background:rgb(15, 1, 15);
    height: 80px;
    width: 100%;
    top: 0%;
    position: fixed;
    transition: 0.3s;
    z-index: 12;
}
label.logo{
    color:white;
    font-size:45px;
    font-style: Bauhaus 93;
    text-align: auto;
    line-height: 90px;
    padding: 0 100px;
    font-weight: bold;
}
.header ul{
    float: right;
    margin-right: 20px;
}
.header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.header ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #1b9bff;
    transition: 300ms;
    color:black;
    width: 100%;
}
.content{
    position: absolute;
    width: 900px;
    min-height: 200px;
    height: auto;
    text-align: center;
    right: 850;
    left: 200;
    top: 35%;
}
.Home{
    position:initial;
    right: 0;
    bottom: 0;
    color: black;
    font-family: Bauhaus 93;
    text-transform: uppercase;
}
.Home h1{
    font-size: 50px;
    padding-right: 90px;
    border-bottom: 1px solid rgb(138, 72, 72);
    text-transform: uppercase;
}
.Home h2{
    font-size: 28px;
    padding: 5px 0;
    opacity: 0.6;
}
.Home button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: Bauhaus 93;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.Hire-btn{
    border: 2px solid #373636;
    color:#373636
}
.down-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform: scale(1.1);
}




   